@inherits LayoutComponentBase

<div class="page m-auto" style="max-width: 1200px; height: 100%">
    <div style="height: 10%">
        <ServerDisplayComp/>
        <NavMenu/>
    </div>

    <main style="height: 90%">
        <article class="content m-0 p-0 px-2">
            @Body
        </article>
    </main>
    <Toasts class="p-3" AutoHide="true" Delay="8000" Placement="ToastsPlacement.BottomRight"/>
    <Preload LoadingText="Loading..."/>
</div>