@using Web.Services
@inherits LayoutComponentBase
@inject ServerInfoService ServerInfoService
@inject PreloadService PreloadService

<div class="page m-auto" style="max-width: 1200px; height: 100vh; max-height: 100vh">
    <div style="max-height: 100px; height: 100px">
        <ServerDisplayComp/>
        <NavMenu/>
    </div>

    <main style="height: calc(100vh - 100px); max-height: calc(100vh - 100px)">
        <article class="content m-0 p-0 px-2 w-100 h-100">
            @Body
        </article>
    </main>
    <Toasts class="p-3" AutoHide="true" Delay="8000" Placement="ToastsPlacement.BottomRight"/>
    <Preload LoadingText="Reconnecting..."/>
</div>

@code
{
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ServerInfoService.OnSignalRConnectionStateChanged += async () =>
            {
                if (await ServerInfoService.IsSignalRConnected())
                {
                    await InvokeAsync(() => PreloadService.Hide());
                }
                else
                {
                    await InvokeAsync(() => PreloadService.Show());
                }
            };
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}