@inherits LayoutComponentBase

<div class="page" style="max-width: 1200px; margin: 0 auto;">
    <ServerDisplayComp/>
    <NavMenu/>

    <main class="h-100">
        <article class="content m-0 p-0 px-2">
            @Body
        </article>
    </main>
    <Toasts class="p-3" AutoHide="true" Delay="8000" Placement="ToastsPlacement.BottomRight"/>
    <Preload LoadingText="Loading..." />
</div>