@inherits LayoutComponentBase

<div class="page">
    <div class="top-row w-100">
        <ServerDisplayComp/>
        <div class="pb-2"></div>
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>