@page "/configs"
@inherits ConfigsRazor
@rendermode InteractiveServer

<div class="w-100 h-100 pb-2">
    <div class="input-group pb-2" style="height: 50px">
        <select class="input-group custom-select w-75">
            <option selected @onclick="() => { ConfigContent = null; }">Choose...</option>
            @foreach (var configFile in ConfigFiles)
            {
                <option @onclick="() => LoadConfigContent(configFile)">@configFile</option>
            }
        </select>
        <button class="input-group btn btn-success w-25" @onclick="ApplyConfigContent">Save</button>
    </div>

    <textarea class="w-100" style="height: calc(100% - 50px)" disabled="@(ConfigContent is null)" @bind="ConfigContent"></textarea>
</div>