@page "/events"
@inherits EventsRazor
@rendermode InteractiveServer

<table>
    @foreach (var e in EventLogs.OrderByDescending(l => l.TriggeredAtUtc))
    {
        <tr>
            <td class="pe-3">@e.TriggeredAtUtc</td>
            <td>@e.EventName</td>
        </tr>
    }
</table>