@page "/server-logs"
@inherits ServerLogsRazor
@attribute [RenderModeInteractiveServer]

@if (ServerLogs.Count == 0)
{
    <LoadingComp/>
}
else
{
    <table>
        @foreach (var e in ServerLogs)
        {
            <tr>
                <td nowrap class="pe-3">@e.Timestamp</td>
                <td nowrap>@e.Message</td>
            </tr>
        }
    </table>
}